<footer>
  <p>
    Powered by <a href="https://www.thecocktaildb.com/" target="_blank" rel="noopener">TheCocktailDB</a>
    &nbsp;·&nbsp; Built with Express &amp; Axios
  </p>
</footer>

</body>
</html>
